---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { client } from '../../lib/sanity';
import RecipeList from '../../components/RecipeList';
import { t } from '../../utils/i18n';

const { currentLocale } = Astro;

const localRecipes = (await getCollection('recipes')).map((entry) => ({
	...entry.data,
	id: entry.id,
	slug: entry.slug,
}));

let sanityRecipes = [];
try {
	sanityRecipes = await client.fetch(`
    *[_type == "recipe"]{
      _id,
      title,
      ingredients,
      instructions,
      "image": image.asset->url,
      "video": video.asset->url,
      "slug": slug.current
    }
  `);
} catch (e) {
	console.error('Failed to fetch Sanity recipes:', e.message);
}

const recipes = [...sanityRecipes];
const splitRegex = currentLocale?.startsWith('es')
	? /\s(y|con)\s/i
	: /\s(and|with)\s/i;
---

<BaseLayout title={t('title', currentLocale)}>
	<div class='header-buttons'>
		<button onclick='history.back()' class='back-button'
			>{t('common.back', currentLocale)}</button
		>
		<a href='/add-recipe' class='add-recipe-button'>
			<span class='plus-icon'>+</span>
			{t('recipes.addNew', currentLocale)}
		</a>
	</div>

	<h1>{t('recipes.title', currentLocale)}</h1>

	<RecipeList client:load recipes={recipes} splitRegex={splitRegex} />
</BaseLayout>

<style>
	:root {
		--primary-color: #d2691e;
		--secondary-color: #c14e39;
		--light-bg: #fff6f6;
		--border-color: #f5c6c6;
		--text-color: #5a2e2e;
		--scroll-thumb: #f08080;
		--scroll-track: #ffecec;
	}

	.header-buttons {
		display: flex;
		gap: 15px;
		margin: 15px;
	}

	.back-button,
	.add-recipe-button {
		padding: 10px 15px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-weight: bold;
		text-decoration: none;
		transition:
			transform 0.2s,
			box-shadow 0.2s;
	}

	.back-button {
		background: var(--primary-color);
		color: white;
	}

	.add-recipe-button {
		background: var(--secondary-color);
		color: white;
	}

	.plus-icon {
		color: white;
		font-weight: bold;
		margin-right: 0.3rem;
		font-size: 1.5rem;
	}

	.back-button:hover,
	.add-recipe-button:hover {
		transform: translateY(-2px);
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	}

	h1 {
		text-align: center;
		margin: 20px 0;
		color: var(--primary-color);
	}
</style>
