---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Page Not Found'>
	<section class='error-page'>
		<h1>Oops! Page Not Found</h1>
		<p>
			The page you're looking for doesn't exist. Try going back to <a href='/'
				>home</a
			>.
		</p>
	</section>

	<style>
		.error-page {
			text-align: center;
			padding: 3rem;
		}
		a {
			color: #d2691e;
			font-weight: bold;
			text-decoration: none;
		}

		@media (max-width: 480px) {
			.error-page {
				padding: 1.5rem;
			}
			.error-page h1 {
				font-size: 1.5rem;
			}
			.error-page p {
				font-size: 1rem;
			}
		}
	</style>
</BaseLayout>
