---
import BaseLayout from '../layouts/BaseLayout.astro';
import AICookingTips from '../components/AICookingTips.astro';
---

<BaseLayout title='Page Not Found'>
	<div class='error-page'>
		<!-- Decorative elements matching your gradient theme -->
		<div class='error-decoration error-decoration-top'></div>
		<div class='error-decoration error-decoration-bottom'></div>

		<!-- Main content -->
		<div class='error-content'>
			<!-- Animated 404 -->
			<div class='kitchen-404'>
				<div class='error-number'>
					<span class='error-digit'>4</span>
					<div class='kitchen-icon'>
						<div class='pan'>
							<div class='pan-handle'></div>
							<div class='pan-body'>
								<div class='sizzle'></div>
								<div class='sizzle'></div>
								<div class='sizzle'></div>
							</div>
						</div>
					</div>
					<span class='error-digit'>4</span>
				</div>
			</div>

			<!-- Main message -->
			<h1 class='error-title'>Oops! Page Not Found</h1>
			<p class='error-description'>
				The recipe you're looking for seems to have wandered off. Don't worry –
				we've got plenty of other delicious options!
			</p>

			<!-- Search bar -->
			<div class='search-container'>
				<p class='search-prompt'>Looking for something specific?</p>
				<div class='search-box'>
					<input type='text' placeholder='Search...' />
					<button
						><svg
							width='26px'
							height='26px'
							viewBox='0 0 24 24'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
								id='SVGRepo_tracerCarrier'
								stroke-linecap='round'
								stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
								<path
									d='M17 17L21 21'
									stroke='#323030'
									stroke-width='2'
									stroke-linecap='round'
									stroke-linejoin='round'></path>
								<path
									d='M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z'
									stroke='#323030'
									stroke-width='2'></path>
							</g></svg
						></button
					>
				</div>
			</div>

			<!-- Action buttons -->
			<div class='error-actions'>
				<a href='/' class='action-button primary-action'>
					<svg width='20' height='20' viewBox='0 0 24 24' fill='none'>
						<path
							d='M3 9L12 2L21 9V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V9Z'
							stroke='currentColor'
							stroke-width='2'></path>
						<path d='M9 22V12H15V22' stroke='currentColor' stroke-width='2'
						></path>
					</svg>
					Home Kitchen
				</a>

				<a href='/recipes' class='action-button secondary-action'>
					<svg width='20' height='20' viewBox='0 0 24 24' fill='none'>
						<path
							d='M12 6.25278V19.2528M12 6.25278C10.8321 5.47686 9.24649 5 7.5 5C5.75351 5 4.16789 5.47686 3 6.25278V19.2528C4.16789 18.4769 5.75351 18 7.5 18C9.24649 18 10.8321 18.4769 12 19.2528M12 6.25278C13.1679 5.47686 14.7535 5 16.5 5C18.2465 5 19.8321 5.47686 21 6.25278V19.2528C19.8321 18.4769 18.2465 18 16.5 18C14.7535 18 13.1679 18.4769 12 19.2528'
							stroke='currentColor'
							stroke-width='2'></path>
					</svg>
					All Recipes
				</a>

				<a href='/submit' class='action-button accent-action'>
					<svg width='20' height='20' viewBox='0 0 24 24' fill='none'>
						<path
							d='M12 5V19M5 12H19'
							stroke='currentColor'
							stroke-width='2'
							stroke-linecap='round'></path>
					</svg>
					Submit Recipe
				</a>
			</div>

			<!-- Quick recipe categories -->
			<div class='error-categories'>
				<h3 class='categories-title'>Popular Recipe Categories</h3>
				<div class='categories-grid'>
					<a href='/recipes?category=dinner' class='category-card'>
						<svg
							version='1.1'
							id='Layer_1'
							xmlns='http://www.w3.org/2000/svg'
							xmlns:xlink='http://www.w3.org/1999/xlink'
							viewBox='0 0 488 488'
							xml:space='preserve'
							width='64px'
							height='64px'
							fill='#000000'
							><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
								id='SVGRepo_tracerCarrier'
								stroke-linecap='round'
								stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
								<path
									style='fill:#403E3G;'
									d='M239.984,113.336c-79.304,0-143.816,64.512-143.816,143.824s64.512,143.824,143.816,143.824 c79.336,0,143.872-64.512,143.872-143.824S319.32,113.336,239.984,113.336z'
								></path>
								<path
									style='fill:#323030;'
									d='M120.168,281.152c0-79.304,64.512-143.824,143.816-143.824c33.568,0,64.416,11.64,88.92,30.976 c-26.368-33.416-67.136-54.976-112.92-54.976c-79.304,0-143.816,64.512-143.816,143.824c0,45.76,21.552,86.504,54.96,112.864 C131.808,345.528,120.168,314.696,120.168,281.152z'
								></path>
								<path
									style='fill:#adadac;'
									d='M239.992,160.624c-53.232,0-96.536,43.304-96.536,96.536s43.312,96.536,96.536,96.536 c53.232,0,96.536-43.312,96.536-96.536S293.224,160.624,239.992,160.624z'
								></path>
								<path
									style='fill:#403E3G;'
									d='M239.992,314.2c-31.44,0-57.008-25.592-57.008-57.048c0-4.416,3.584-8,8-8s8,3.584,8,8 c0,22.632,18.4,41.048,41.008,41.048c22.632,0,41.048-18.416,41.048-41.048c0-4.416,3.576-8,8-8s8,3.584,8,8 C297.04,288.616,271.448,314.2,239.992,314.2z'
								></path>
								<path
									style='fill:#403E3G;'
									d='M72,216H24c-4.416,0-8,3.584-8,8v168c0,4.416,3.584,8,8,8h48c4.416,0,8-3.584,8-8V224 C80,219.584,76.416,216,72,216z'
								></path>
								<g>
									<rect
										x='16'
										y='264'
										style='fill:#612324;'
										width='64'
										height='40'></rect>
									<path
										style='fill:#612324;'
										d='M16,408c0,13.232,10.768,24,24,24h16c13.232,0,24-10.768,24-24v-24H16V408z'
									></path>
								</g>
								<path
									style='fill:#403E3G;'
									d='M88,64c-4.416,0-8,3.584-8,8v80H56V72c0-4.416-3.584-8-8-8s-8,3.584-8,8v80H16V72 c0-4.416-3.584-8-8-8s-8,3.584-8,8v88v48c0,13.232,10.768,24,24,24h48c13.232,0,24-10.768,24-24v-48V72C96,67.584,92.416,64,88,64z'
								></path>
								<path
									style='fill:#403E3G;'
									d='M456,208h-48c-4.424,0-8,3.584-8,8v176c0,4.416,3.576,8,8,8h48c4.424,0,8-3.584,8-8V216 C464,211.584,460.424,208,456,208z'
								></path>
								<g>
									<rect
										x='400'
										y='264'
										style='fill:#612324;'
										width='64'
										height='40'></rect>
									<path
										style='fill:#612324;'
										d='M400,408c0,13.232,10.768,24,24,24h16c13.232,0,24-10.768,24-24v-24h-64V408z'
									></path>
								</g>
								<path
									style='fill:#403E3G;'
									d='M432,56c-31.4,0-56,38.656-56,88s24.6,88,56,88s56-38.656,56-88S463.4,56,432,56z'
								></path>
							</g></svg
						>
						<span class='category-name'>Dinner</span>
					</a>

					<a href='/recipes?category=dessert' class='category-card'>
						<svg
							height='64px'
							width='64px'
							version='1.1'
							id='Layer_1'
							xmlns='http://www.w3.org/2000/svg'
							xmlns:xlink='http://www.w3.org/1999/xlink'
							viewBox='0 0 512 512'
							xml:space='preserve'
							fill='#000000'
							><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
								id='SVGRepo_tracerCarrier'
								stroke-linecap='round'
								stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
								<path
									style='fill:#F7BA9C;'
									d='M456.348,267.13L456.348,267.13c0,36.883-29.9,66.783-66.783,66.783h-3.141L331.92,431.26 c-6.134,10.955-16.746,17.585-28.147,17.585H256h-47.773c-11.401,0-22.013-6.63-28.147-17.585l-54.505-97.347h-3.141 c-36.883,0-66.783-29.9-66.783-66.783l0,0c0-36.883,29.9-66.783,66.783-66.783h1.422c-6.305-16.414-9.77-34.236-9.77-52.87l0,0 C114.087,66.028,180.115,0,261.565,0l0,0c0.087,0,0.174,0.003,0.26,0.003c0.931,16.023,4.425,31.358,10.069,45.606 c15.034,30.366,39.492,54.577,70.864,67.824h21.51c30.737,0,55.653,24.917,55.653,55.653l0,0c0,12.79-4.324,24.562-11.579,33.956 C436.082,211.158,456.348,236.77,456.348,267.13z'
								></path>
								<path
									style='fill:#B74941;'
									d='M456.348,267.13L456.348,267.13c0,36.883-29.9,66.783-66.783,66.783h-3.141L331.92,431.26 c-6.134,10.955-16.746,17.585-28.147,17.585H256h-47.773c-11.401,0-22.013-6.63-28.147-17.585l-54.505-97.347h-3.141 c-36.883,0-66.783-29.9-66.783-66.783l0,0c0-36.883,29.9-66.783,66.783-66.783h0.899c32.131,53.354,90.613,88.586,157.432,89.043 c108.429,0.742,139.455-82.615,128.069-86.193C436.319,211.472,456.348,236.95,456.348,267.13z'
								></path>
								<path
									style='fill:#F7BA9C;'
									d='M129.804,304.947c-1.819,4.198-5.917,6.708-10.219,6.708c-1.477,0-2.977-0.296-4.42-0.92 c-17.415-7.545-30.793-22.292-36.706-40.46c-1.902-5.846,1.293-12.127,7.139-14.029c5.846-1.903,12.127,1.294,14.029,7.139 c3.939,12.102,12.828,21.916,24.389,26.924C129.656,292.753,132.247,299.306,129.804,304.947z'
								></path>
								<path
									style='fill:#DB6D53;'
									d='M420.291,169.087L420.291,169.087c0,12.79-0.557,59.272-95.468,59.272 c-74.175,0-133.383-48.28-133.383-102.981c0-39.672,31.288-73.77,76.965-89.582c1.06,3.363,2.569,6.559,3.858,9.813 c9.978,20.156,24.11,37.6,41.658,50.925c14.564,11.059,32.429,16.899,50.716,16.899l0,0 C395.374,113.434,420.291,138.35,420.291,169.087z'
								></path>
								<path
									style='fill:#323030;'
									d='M333.205,500.866c0,6.147-4.983,11.13-11.13,11.13h-66.01c-0.022,0-0.042,0.003-0.065,0.003 c-0.022,0-0.043-0.003-0.065-0.003h-66.01c-6.147,0-11.13-4.983-11.13-11.13s4.983-11.13,11.13-11.13h54.944v-40.89h-36.643 c-11.401,0-22.013-6.63-28.147-17.585l-54.505-97.348h260.848L331.92,431.26c-6.134,10.955-16.746,17.585-28.147,17.585H267.13 v40.89h54.944C328.222,489.736,333.205,494.719,333.205,500.866z'
								></path>
								<path
									style='fill:#403E3E;'
									d='M256,405.704c-43.216,0-79.202-30.89-87.126-71.791h174.25 C335.202,374.814,299.216,405.704,256,405.704z'
								></path>
								<path
									style='fill:#612324;'
									d='M297.41,50.511c28.557-14.125,63.155-2.414,77.274,26.138c14.119,28.56,2.414,63.156-26.142,77.276 c-28.56,14.12-63.155,2.414-77.274-26.142C257.145,99.227,268.851,64.63,297.41,50.511L297.41,50.511z'
								></path>
								<path
									style='fill:#92393C;'
									d='M315.678,58.369c14.785-7.313,32.697-1.25,40.006,13.532c7.309,14.786,1.25,32.697-13.535,40.007 c-14.786,7.31-32.697,1.25-40.006-13.533C294.833,83.591,300.893,65.678,315.678,58.369L315.678,58.369z'
								></path>
								<path
									style='fill:#5C4D38;'
									d='M389.565,9.863c0,3.268-2.649,5.918-5.918,5.918c-1.38,0-2.711,0.509-3.75,1.431 c-19.782,17.572-34.482,36.328-44.941,65.457c-0.867,2.415-3.143,3.919-5.57,3.919c-0.663,0-1.339-0.112-1.999-0.349 c-3.076-1.104-4.674-4.493-3.57-7.57c11.146-31.043,26.919-55.329,48.22-74.25C375.244,1.569,379.368,0,383.647,0 C386.916,0,389.565,6.595,389.565,9.863z'
								></path>
							</g></svg
						>
						<span class='category-name'>Desserts</span>
					</a>

					<a href='/recipes?category=breakfast' class='category-card'>
						<svg
							height='64px'
							width='64px'
							version='1.1'
							id='Layer_1'
							xmlns='http://www.w3.org/2000/svg'
							xmlns:xlink='http://www.w3.org/1999/xlink'
							viewBox='0 0 512 512'
							xml:space='preserve'
							fill='#000000'
							><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
								id='SVGRepo_tracerCarrier'
								stroke-linecap='round'
								stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
								<circle style='fill:#403E3E;' cx='256' cy='256' r='256'
								></circle>
								<g>
									<path
										style='fill:#323030;'
										d='M512,256c0,141.384-114.616,256-256,256V0C397.384,0,512,114.616,512,256z'
									></path>
									<circle style='fill:#323030;' cx='256' cy='256' r='144.607'
									></circle>
								</g>
								<path
									style='fill:#CCCCCF;'
									d='M400.61,256c0,79.866-64.745,144.61-144.61,144.61V111.39C335.866,111.39,400.61,176.134,400.61,256z '
								></path>
								<path
									style='fill:#F7F7F8;'
									d='M399.176,165.06c0-0.016,0.001-0.032,0.001-0.048c0-61.934-50.207-112.141-112.141-112.141 s-112.141,50.206-112.141,112.14c0,56.792,42.219,103.716,96.982,111.117c12.474,35.286,46.12,60.567,85.678,60.567 c50.178,0,90.857-40.678,90.857-90.857C448.41,210.662,428.417,180.157,399.176,165.06z'
								></path>
								<circle
									style='fill:#F5DC49;'
									cx='287.032'
									cy='165.009'
									r='53.793'></circle>
								<path
									style='fill:#ECAE44;'
									d='M287.036,111.22c29.708,0,53.791,24.083,53.791,53.791s-24.083,53.791-53.791,53.791 C287.036,194.783,287.036,122.435,287.036,111.22z'
								></path>
								<path
									style='fill:#B74941;'
									d='M348.718,415.505c-6.311,23.96-31.419,37.674-55.026,30.146 c-48.539-15.478-91.6-34.182-130.704-56.712c-34.428-19.837-66.754-43.262-97.954-71.04c-18.678-16.629-19.417-45.587-1.589-63.124 l0,0c16.239-15.974,42.09-16.598,59.087-1.431c26.752,23.873,53.939,43.55,83.633,60.66c33.734,19.437,71.276,35.695,113.94,49.293 c21.907,6.982,34.479,29.935,28.623,52.171L348.718,415.505z'
								></path>
								<path
									style='fill:#612324;'
									d='M348.718,415.505c-6.311,23.96-31.419,37.674-55.026,30.146 c-48.539-15.478-91.6-34.182-130.704-56.712c-34.428-19.837-66.754-43.262-97.954-71.04c-18.678-16.629-19.417-45.587-1.589-63.124 C146.543,341.163,241.987,393.777,348.718,415.505z'
								></path>
							</g></svg
						>
						<span class='category-name'>Breakfast</span>
					</a>

					<a href='/recipes?category=vegetarian' class='category-card'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							xmlns:xlink='http://www.w3.org/1999/xlink'
							version='1.1'
							id='Layer_1'
							viewBox='0 0 410.204 410.204'
							xml:space='preserve'
							width='64px'
							height='64px'
							fill='#000000'
							><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
								id='SVGRepo_tracerCarrier'
								stroke-linecap='round'
								stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
								<g>
									<rect
										x='166.345'
										y='347.376'
										style='fill:#403E3E;'
										width='142.49'
										height='32.59'></rect>
									<rect
										x='166.345'
										y='347.376'
										style='fill:#B3B3B3;'
										width='38.995'
										height='32.59'></rect>
									<path
										style='fill:#323030;'
										d='M383.765,198.386h18.94c0,65.68-38.35,122.39-93.87,148.99h-142.49 c-55.52-26.6-93.87-83.31-93.87-148.99h18.95h92.99h106.35H383.765z'
									></path>
									<path
										style='fill:#403E3E;'
										d='M160.971,198.385H91.425h-18.95c0,65.68,38.35,122.39,93.87,148.99h88.496 C199.321,320.776,160.971,264.066,160.971,198.385z'
									></path>
									<path
										style='fill:#6A994E;'
										d='M344.475,142.176c2.2,2.76,2.72,6.59,2.71,10.78c-3.2-0.69-6.51-1.06-9.92-1.06 c-17.42,0-32.61,9.58-40.57,23.76l-127.12-11.33c-3.84-3.57-8.29-6.5-13.17-8.61l157.69-24.24 C321.685,137.536,338.415,134.586,344.475,142.176z'
									></path>
									<path
										style='fill:#8FB747;'
										d='M169.575,164.326l127.12,11.33c-3.78,6.72-5.93,14.47-5.93,22.73h-106.35 C184.415,184.936,178.705,172.816,169.575,164.326z'
									></path>
									<path
										style='fill:#8FB747;'
										d='M314.095,131.476l-157.69,24.24c-5.66-2.46-11.91-3.82-18.48-3.82c-2.75,0-5.45,0.24-8.07,0.7 l-1.8-1.8c0.17-3.34,0.84-6.35,2.66-8.62c6.06-7.59,22.79-4.64,30.38-10.7c7.55-6.03,8.38-23.01,17.17-27.25 c8.65-4.17,22.43,5.72,32.01,3.54c9.29-2.11,17.4-17.05,27.32-17.05s18.04,14.94,27.32,17.05c9.58,2.18,23.36-7.71,32.01-3.54 C305.715,108.466,306.545,125.446,314.095,131.476z'
									></path>
									<path
										style='fill:#B74941;'
										d='M169.575,164.326c9.13,8.49,14.84,20.61,14.84,34.06h-92.99c0-22.27,15.66-40.89,36.58-45.43 c0.61-0.13,1.23-0.25,1.85-0.36c2.62-0.46,5.32-0.7,8.07-0.7c6.57,0,12.82,1.36,18.48,3.82 C161.285,157.826,165.735,160.756,169.575,164.326z'
									></path>
									<path
										style='fill:#B74941;'
										d='M296.695,175.656c7.96-14.18,23.15-23.76,40.57-23.76c3.41,0,6.72,0.37,9.92,1.06 c20.92,4.54,36.58,23.16,36.58,45.43h-93C290.765,190.126,292.915,182.376,296.695,175.656z'
									></path>
									<path
										style='fill:#B74941;'
										d='M90.145,78.256c8.99,8.98,8.99,23.54,0,32.52l-1.05,1.06l-1.06,1.06c-8.98,8.98-23.54,8.98-32.53,0 l-41.27-41.28c-8.98-8.98-8.98-23.54,0-32.52l2.11-2.12c8.99-8.98,23.55-8.98,32.53,0L90.145,78.256z'
									></path>
									<path
										style='fill:#ccc;'
										d='M360.765,205.885c-4.142,0-7.5-3.357-7.5-7.5c0-7.475-5.277-14.046-12.549-15.624 c-1.124-0.242-2.289-0.366-3.451-0.366c-4.142,0-7.5-3.357-7.5-7.5s3.358-7.5,7.5-7.5c2.224,0,4.452,0.237,6.623,0.706 c14.129,3.066,24.377,15.802,24.377,30.284C368.265,202.528,364.907,205.885,360.765,205.885z'
									></path>
									<path
										style='fill:#ccc;'
										d='M160.265,205.885c-4.142,0-7.5-3.357-7.5-7.5c0-7.475-5.277-14.046-12.549-15.624 c-1.124-0.242-2.289-0.366-3.451-0.366c-4.142,0-7.5-3.357-7.5-7.5s3.358-7.5,7.5-7.5c2.224,0,4.452,0.237,6.623,0.706 c14.129,3.066,24.377,15.802,24.377,30.284C167.765,202.528,164.407,205.885,160.265,205.885z'
									></path>
									<path
										style='fill:#612324;'
										d='M95.255,103.015c-1.12,2.83-2.82,5.47-5.11,7.76l-1.05,1.06l-1.06,1.06 c-8.98,8.98-23.54,8.98-32.53,0l-41.27-41.28c-8.98-8.98-8.98-23.54,0-32.52l2.11-2.12c2.29-2.29,4.95-4,7.78-5.11 c-3.29,8.27-1.58,18.06,5.11,24.75l41.27,41.28C77.205,104.586,86.985,106.296,95.255,103.015z'
									></path>
									<path
										style='fill:#ccc;'
										d='M298.902,334.135c-2.796,0-5.48-1.571-6.769-4.262c-1.79-3.735-0.212-8.214,3.523-10.004 c22.586-10.821,41.701-27.705,55.277-48.826c5.538-8.615,10.083-17.868,13.51-27.502c1.389-3.902,5.681-5.941,9.58-4.553 c3.903,1.388,5.941,5.677,4.553,9.58c-3.811,10.714-8.866,21.005-15.024,30.586c-15.081,23.462-36.318,42.219-61.414,54.242 C301.092,333.898,299.989,334.135,298.902,334.135z'
									></path>
									<circle style='fill:#ccc;' cx='287.718' cy='363.022' r='7.5'
									></circle>
									<circle style='fill:#ccc;' cx='377.848' cy='221.385' r='7.5'
									></circle>
									<path
										style='fill:#333333;'
										d='M402.704,190.89h-11.975c-2.862-20.498-17.268-37.336-36.421-43.726 c-0.491-3.266-1.589-6.676-3.976-9.671c-5.073-6.354-13.356-7.692-20.664-8.872c-4.189-0.677-8.938-1.444-10.896-3.008 c-1.931-1.542-3.722-5.98-5.301-9.896c-2.779-6.889-5.928-14.697-13.292-18.249c-7.251-3.494-15.249-1.128-22.304,0.96 c-4.112,1.218-8.773,2.599-11.3,2.022c-2.306-0.524-5.79-3.692-8.864-6.488c-5.541-5.038-11.82-10.749-20.119-10.749 c-8.297,0-14.573,5.709-20.111,10.745c-3.075,2.797-6.56,5.967-8.874,6.492c-2.524,0.577-7.187-0.805-11.299-2.022 c-7.057-2.089-15.052-4.455-22.305-0.96c-7.364,3.552-10.513,11.36-13.292,18.25c-1.579,3.915-3.37,8.354-5.299,9.895 c-1.959,1.564-6.708,2.332-10.898,3.009c-7.196,1.162-15.33,2.487-20.426,8.6l-25.809-25.809 c7.886-11.843,6.612-28.026-3.826-38.464L54.18,31.677c-5.76-5.762-13.419-8.935-21.566-8.935s-15.806,3.173-21.567,8.934 L8.933,33.79C3.172,39.551,0,47.21,0,55.356c0,8.147,3.172,15.807,8.933,21.567l41.272,41.272 c5.946,5.945,13.756,8.918,21.566,8.918c5.902,0,11.802-1.7,16.899-5.095l27.131,27.131c-16.59,7.482-28.743,23.097-31.346,41.74 H72.48c-4.142,0-7.5,3.357-7.5,7.5c0,33.183,9.441,65.411,27.303,93.202c16.528,25.716,39.474,46.531,66.562,60.436v27.933 c0,4.143,3.358,7.5,7.5,7.5h142.493c4.142,0,7.5-3.357,7.5-7.5v-27.933c27.088-13.904,50.034-34.72,66.562-60.436 c17.862-27.791,27.303-60.02,27.303-93.202C410.204,194.248,406.846,190.89,402.704,190.89z M375.53,190.89h-76.533 c3.507-17.927,19.328-31.498,38.266-31.498S372.023,172.964,375.53,190.89z M191.385,190.89c-0.876-6.272-2.831-12.2-5.674-17.593 l100.035,8.909c-0.883,2.803-1.533,5.707-1.948,8.685H191.385z M327.275,143.429c1.959,0.316,4.129,0.668,6.065,1.121 c-16.789,1.212-31.472,10.125-40.523,23.225l-104.813-9.334l124.429-19.125C316.99,141.767,322.397,142.641,327.275,143.429z M147.905,143.429c6.013-0.972,12.827-2.072,17.866-6.095c5.007-4,7.469-10.104,9.85-16.005c1.675-4.152,3.759-9.318,5.896-10.35 c2.034-0.979,7.3,0.578,11.532,1.832c5.875,1.739,12.531,3.709,18.882,2.266c6.161-1.399,10.98-5.783,15.641-10.022 c3.351-3.048,7.522-6.842,10.018-6.842c2.498,0,6.673,3.797,10.027,6.847c4.659,4.237,9.477,8.618,15.629,10.018 c6.352,1.443,13.011-0.527,18.885-2.266c4.232-1.254,9.498-2.811,11.531-1.833c2.138,1.031,4.222,6.198,5.897,10.35 c0.605,1.5,1.216,3.014,1.873,4.503L157.266,147.99c-4.846-1.867-10.025-3.049-15.423-3.439 C143.777,144.097,145.947,143.746,147.905,143.429z M60.812,107.589L19.54,66.316C16.612,63.389,15,59.497,15,55.356 c0-4.14,1.612-8.032,4.54-10.959l2.113-2.113c2.928-2.928,6.82-4.541,10.96-4.541s8.032,1.613,10.96,4.541l41.272,41.271 c6.043,6.043,6.043,15.877,0,21.92l-2.113,2.113C76.688,113.633,66.855,113.633,60.812,107.589z M137.92,159.392 c18.938,0,34.759,13.571,38.266,31.498H99.654C103.161,172.964,118.982,159.392,137.92,159.392z M173.845,372.461v-17.583h127.493 v17.583H173.845z M370.282,283.482c-15.585,24.249-37.425,43.708-63.213,56.396H168.115 c-25.788-12.687-47.628-32.146-63.213-56.396c-14.956-23.269-23.444-49.95-24.746-77.592h314.871 C393.726,233.532,385.237,260.214,370.282,283.482z'
									></path>
								</g>
							</g></svg
						>
						<span class='category-name'>Vegetarian</span>
					</a>
				</div>
			</div>

			<!-- AI Cooking Tips Component -->
			<AICookingTips />

			<style>
				/* Error page container */
				.error-page {
					min-height: 100vh;
					display: flex;
					align-items: center;
					justify-content: center;
					/* background: var(--color-background); */
					position: relative;
					overflow: hidden;
				}

				/* Decorative elements using your gradient colors */
				.error-decoration {
					position: absolute;
					width: 400px;
					height: 400px;
					border-radius: 50%;
					opacity: 0.1;
					z-index: 0;
				}

				.error-decoration-top {
					top: -200px;
					right: -200px;
				}

				.error-decoration-bottom {
					bottom: -200px;
					left: -200px;
					background: radial-gradient(
						circle,
						var(--color-accent) 0%,
						transparent 70%
					);
				}

				/* Main content */
				.error-content {
					position: relative;
					z-index: 1;
					/* background: rgba(248, 249, 250, 0.95); */
					backdrop-filter: blur(10px);
					border-radius: var(--border-radius);
					padding: var(--spacing-large);
					width: 100%;

					animation: recipeAppear 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
				}

				@keyframes recipeAppear {
					from {
						opacity: 0;
						transform: translateY(20px) scale(0.95);
					}
					to {
						opacity: 1;
						transform: translateY(0) scale(1);
					}
				}

				/* Kitchen 404 Animation */
				.kitchen-404 {
					display: flex;
					justify-content: center;
					align-items: center;
					min-height: 200px;
					margin-bottom: var(--spacing-large);
				}

				.error-number {
					display: flex;
					align-items: center;
					gap: 2rem;
					position: relative;
				}

				.error-digit {
					font-family: var(--font-heading);
					font-size: 8rem;
					font-weight: 900;
					color: #c14e39; /* Tomato red */
					opacity: 0;
					transform: translateY(-30px);
					animation: digitDrop 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
				}

				.error-digit:nth-child(1) {
					animation-delay: 0.1s;
				}

				.error-digit:nth-child(3) {
					animation-delay: 0.5s;
				}

				@keyframes digitDrop {
					to {
						opacity: 1;
						transform: translateY(0);
					}
				}

				.kitchen-icon {
					width: 120px;
					height: 120px;
					position: relative;
					animation: panFloat 3s infinite ease-in-out;
				}

				@keyframes panFloat {
					0%,
					100% {
						transform: translateY(0) rotate(0deg);
					}
					33% {
						transform: translateY(-10px) rotate(5deg);
					}
					66% {
						transform: translateY(5px) rotate(-3deg);
					}
				}

				.pan {
					position: relative;
					width: 100px;
					height: 100px;
				}

				.pan-handle {
					position: absolute;
					right: -25px;
					top: 50%;
					transform: translateY(-50%);
					width: 40px;
					height: 15px;
					background: #8b4513; /* Wood brown */
					border-radius: 5px;
				}

				.pan-body {
					position: absolute;
					width: 100px;
					height: 50px;
					background: #2f4f4f; /* Dark steel */
					border-radius: 50% 50% 5% 5%;
					box-shadow:
						inset 0 10px 20px rgba(0, 0, 0, 0.3),
						0 5px 15px rgba(0, 0, 0, 0.2);
					overflow: hidden;
				}

				.sizzle {
					position: absolute;
					background: #ffd700; /* Golden sizzle */
					border-radius: 50%;
					animation: sizzlePop 1.5s infinite;
				}

				.sizzle:nth-child(1) {
					width: 12px;
					height: 12px;
					top: 15px;
					left: 20px;
					animation-delay: 0s;
				}

				.sizzle:nth-child(2) {
					width: 8px;
					height: 8px;
					top: 25px;
					left: 50px;
					animation-delay: 0.5s;
				}

				.sizzle:nth-child(3) {
					width: 10px;
					height: 10px;
					top: 10px;
					left: 70px;
					animation-delay: 1s;
				}

				@keyframes sizzlePop {
					0%,
					100% {
						transform: scale(0.3);
						opacity: 0.3;
					}
					50% {
						transform: scale(1.2);
						opacity: 0.8;
						box-shadow: 0 0 10px #ff4500;
					}
				}

				/* Typography */
				.error-title {
					font-family: var(--font-heading);
					color: var(--color-primary);
					font-size: 2.5rem;
					text-align: center;
					margin-bottom: var(--spacing-medium);
				}

				.error-description {
					font-family: var(--font-body);
					color: var(--color-dark);
					text-align: center;
					font-size: 1.2rem;
					line-height: 1.6;
					margin-bottom: var(--spacing-large);
					max-width: 600px;
					margin-left: auto;
					margin-right: auto;
				}

				/* Search section */
				.error-search {
					margin-bottom: var(--spacing-large);
				}

				.search-label {
					font-family: var(--font-heading);
					color: var(--color-secondary);
					text-align: center;
					margin-bottom: var(--spacing-medium);
					font-size: 1.1rem;
				}

				.search-container {
					font-family: Arial, sans-serif;
					padding: 20px;
					text-align: center;
					border-radius: 12px;
					max-width: 500px;
					margin: 40px auto;
				}

				.search-prompt {
					color: #333;
					margin-bottom: 16px;
					font-size: 18px;
					font-weight: 500;
				}

				.search-box {
					display: flex;
					box-shadow: 0 4px 15px rgba(193, 78, 57, 0.2);
					border: 2px solid var(--color-secondary);
					border-radius: 8px;
					overflow: hidden;
					background: var(--color-light);
				}

				.search-box input {
					flex: 1;
					border: none;
					padding: 12px 16px;
					font-size: 16px;
					outline: none;
				}

				.search-box button {
					background: var(--color-secondary);
					color: white;
					border: none;
					padding: 0 20px;
					cursor: pointer;
					font-size: 18px;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.search-box button:hover {
					background: #0056b3;
				}

				.search-form {
					display: flex;
					max-width: 500px;
					margin: 0 auto;
					border-radius: 50px;
					overflow: hidden; /* ← This is crucial */
					box-shadow: 0 4px 15px rgba(193, 78, 57, 0.2);
					border: 2px solid var(--color-secondary);
				}
				.search-input {
					flex: 1;
					padding: 15px 20px;
					border: none;
					font-family: var(--font-body);
					font-size: 1rem;
					background: var(--color-light);
					color: var(--color-dark);
					padding-left: 20px;
					border-radius: 50px 0 0 50px; /* ← Left side rounded */
				}

				.search-button {
					display: flex;
					align-items: center;
					gap: 8px;
					padding: 15px 25px;
					background: var(--color-secondary);
					border: none;
					color: var(--color-light);
					font-family: var(--font-body);
					font-weight: 600;
					cursor: pointer;
					transition: all 0.3s ease;
					border-radius: 0 50px 50px 0; /* ← Right side rounded */
				}

				.search-input:focus {
					outline: none;
					box-shadow: inset 0 0 0 2px var(--color-accent);
				}

				.search-button:hover {
					background: var(--color-primary);
					transform: scale(1.05);
				}

				/* Action buttons */
				.error-actions {
					display: flex;
					gap: var(--spacing-medium);
					justify-content: center;
					margin-bottom: var(--spacing-large);
					flex-wrap: wrap;
				}

				.action-button {
					display: inline-flex;
					align-items: center;
					gap: 10px;
					padding: var(--spacing-medium) var(--spacing-large);
					border-radius: var(--border-radius);
					font-family: var(--font-body);
					font-weight: 600;
					text-decoration: none;
					transition: all 0.3s ease;
					border: 2px solid transparent;
					font-size: 1rem;
				}

				.primary-action {
					background: var(--color-primary);
					color: var(--color-light);
				}

				.secondary-action {
					background: var(--color-light);
					color: var(--color-secondary);
					border-color: var(--color-secondary);
				}

				.accent-action {
					background: var(--color-accent);
					color: var(--color-dark);
				}

				.action-button:hover {
					transform: translateY(-3px);
					box-shadow: 0 8px 25px rgba(255, 99, 71, 0.3);
				}

				/* Categories */
				.error-categories {
					margin-bottom: var(--spacing-large);
				}

				.categories-title {
					font-family: var(--font-heading);
					color: var(--color-secondary);
					text-align: center;
					margin-bottom: var(--spacing-medium);
					font-size: 1.5rem;
				}

				.categories-grid {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
					gap: var(--spacing-medium);
					max-width: 500px;
					margin: 0 auto;
				}

				.category-card {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 8px;
					padding: var(--spacing-medium);
					background: var(--color-light);
					border-radius: var(--border-radius);
					text-decoration: none;
					color: var(--color-dark);
					border: 2px solid rgba(255, 99, 71, 0.2);
					transition: all 0.3s ease;
				}

				.category-card:hover {
					border-color: var(--color-primary);
					transform: translateY(-5px);
					box-shadow: 0 5px 20px rgba(255, 99, 71, 0.2);
				}

				.category-emoji {
					font-size: 2rem;
				}

				.category-name {
					font-family: var(--font-body);
					font-weight: 600;
					color: var(--color-secondary);
				}

				/* Cooking tip */
				.cooking-tip {
					display: flex;
					align-items: center;
					gap: var(--spacing-medium);
					padding: var(--spacing-medium);
					background: linear-gradient(
						135deg,
						rgba(255, 215, 0, 0.1),
						rgba(255, 99, 71, 0.1)
					);
					background: rgba(248, 249, 250, 0.95);
					border-radius: var(--border-radius);
					border-left: 4px solid var(--color-accent);
				}

				.tip-icon {
					font-size: 5rem;
					flex-shrink: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 80px;
					height: 80px;
				}

				.tip-content {
					flex: 1;
				}

				.tip-title {
					font-family: var(--font-heading);
					color: var(--color-primary);
					margin-bottom: 4px;
					font-size: 1.1rem;
				}

				.tip-text {
					font-family: var(--font-body);
					color: var(--color-dark);
					margin: 0;
					font-size: 0.95rem;
					line-height: 1.5;
				}

				.category-icon {
					width: 32px;
					height: 32px;
					color: var(--color-primary);
					margin-bottom: 8px;
				}

				.tip-icon svg {
					width: auto;
					height: 68px;
					color: var(--color-accent);
				}

				/* Responsive Design */
				@media (max-width: 768px) {
					.error-page {
						padding: var(--spacing-medium);
						margin: 2px;
					}

					.error-content {
						padding: var(--spacing-medium);
					}

					.error-digit {
						font-size: 5rem;
					}

					.kitchen-icon {
						width: 80px;
						height: 80px;
					}

					.pan {
						width: 70px;
						height: 70px;
					}

					.pan-handle {
						width: 30px;
						right: -20px;
					}

					.error-title {
						font-size: 2rem;
					}

					.error-description {
						font-size: 1rem;
					}

					.error-actions {
						flex-direction: column;
						align-items: center;
					}

					.action-button {
						width: 100%;
						max-width: 300px;
						justify-content: center;
					}

					.search-form {
						flex-direction: column;
						border-radius: var(--border-radius);
					}

					.search-input {
						flex: 1;
						padding: 15px 20px;
						border: none;
						font-family: var(--font-body);
						font-size: 1rem;
						background: var(--color-light);
						color: var(--color-dark);
						padding-left: 20px;
						border-radius: 50px 0 0 50px; /* ← Add this */
					}

					.search-button {
						justify-content: center;
					}

					.categories-grid {
						grid-template-columns: repeat(2, 1fr);
					}

					.cooking-tip {
						flex-direction: column;
						text-align: center;
					}
				}

				@media (max-width: 480px) {
					.error-digit {
						font-size: 4rem;
					}

					.kitchen-icon {
						width: 60px;
						height: 60px;
					}

					.pan {
						width: 50px;
						height: 50px;
					}

					.pan-handle {
						width: 20px;
						right: -15px;
					}

					.error-title {
						font-size: 1.75rem;
					}

					.categories-grid {
						grid-template-columns: 1fr;
					}

					.error-decoration {
						width: 200px;
						height: 200px;
					}
				}
			</style>

			<script>
				// Simple search functionality
				function handleSearch(event) {
					event.preventDefault();
					const searchInput = event.target.querySelector('.search-input');
					const query = searchInput.value.trim();

					if (query) {
						window.location.href = `/recipes?search=${encodeURIComponent(query)}`;
					}
				}

				// Animate page load
				document.addEventListener('DOMContentLoaded', () => {
					// Add cooking sound effect (optional)
					const cookingSounds = ['sizzle', 'bubble', 'chop'];
					const randomSound =
						cookingSounds[Math.floor(Math.random() * cookingSounds.length)];

					console.log(`🍳 Chef's tip: Cooking with ${randomSound}!`);

					// Add interactive hover effects
					const buttons = document.querySelectorAll(
						'.action-button, .category-card'
					);
					buttons.forEach((button) => {
						button.addEventListener('mouseenter', () => {
							button.style.transform = 'translateY(-3px)';
						});
						button.addEventListener('mouseleave', () => {
							button.style.transform = 'translateY(0)';
						});
					});
				});
			</script>
		</div>
	</div>
</BaseLayout>
