---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='About Us'>
	<section class='about-us'>
		<h1>About Our Recipe Blog</h1>
		<p>
			Welcome to our recipe blog, your go-to place for delicious and
			easy-to-follow recipes! We’re passionate about sharing the best recipes to
			inspire your cooking journey. Whether you’re a beginner or a seasoned
			chef, you’ll find something to try.
		</p>

		<h2>What We Share</h2>
		<ul>
			<li>Simple and quick recipes for everyday meals</li>
			<li>Healthy and indulgent options to suit any taste</li>
			<li>Helpful tips and tricks to improve your cooking skills</li>
			<li>Fun food ideas for family meals and gatherings</li>
		</ul>

		<h2>Join the Community</h2>
		<p>
			We love to hear from our readers! If you try a recipe, feel free to leave
			a comment or share your feedback. Don't forget to subscribe to our
			newsletter to stay updated on the latest recipes and tips!
		</p>
	</section>
</BaseLayout>

<style>
	.about-us {
		padding: 8rem;
		border-radius: 8px;
		max-width: 1200px;
		margin: 0 auto;
	}

	.about-us h1 {
		font-size: 2.5rem;
		color: #d2691e;
		text-align: center;
	}

	.about-us h2 {
		font-size: 2rem;
		color: #333;
	}

	.about-us p {
		font-size: 1rem;
		color: #666;
		line-height: 1.5;
	}

	.about-us ul {
		list-style-type: disc;
		padding-left: 20px;
		color: #333;
	}

	.about-us ul li {
		font-size: 1rem;
	}
</style>
