---
import { t } from '../utils/i18n';

const { currentLocale } = Astro;
---

<nav class='navbar'>
	<ul>
		<li><a href='/'>{t('home.nav.home', currentLocale)}</a></li>
		<li><a href='/recipes'>{t('home.nav.recipes', currentLocale)}</a></li>
		<li><a href='/about'>{t('home.nav.about', currentLocale)}</a></li>
	</ul>
</nav>

<style>
	.navbar ul {
		list-style: none;
		display: flex;
		gap: 1.5rem;
	}
	.navbar a {
		text-decoration: none;
		color: white;
		font-family: 'Poppins', sans-serif;
		font-weight: 500;
		transition: color 0.3s;
	}
	.navbar a:hover {
		color: #ffd700; /* Golden yellow */
	}
	@media (max-width: 768px) {
		.navbar ul {
			padding: 0;
		}
	}
</style>
